In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import os
import datetime
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import xgboost as xgb

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

# print(os.listdir("../input"))
data_path = '../input/'

# Any results you write to the current directory are saved as output.

df_train = pd.read_csv(data_path + 'train.csv')
df_test = pd.read_csv(data_path + 'test.csv')

df_train = df_train.sample(n=5000000)

print(df_train.shape)
print(df_test.shape)

(5000000, 8)
(9914, 7)

In [2]:
df_train.head()

                                    key       ...         passenger_count
24320907   2009-05-16 15:11:00.00000066       ...                       1
23865743    2009-12-11 21:50:23.0000002       ...                       1
54931       2012-12-13 14:40:14.0000001       ...                       1
32499346    2011-08-15 14:15:20.0000004       ...                       2
9491516   2013-04-22 11:03:00.000000195       ...                       1

[5 rows x 8 columns]

In [3]:
df_train.dtypes

key                   object
fare_amount          float64
pickup_datetime       object
pickup_longitude     float64
pickup_latitude      float64
dropoff_longitude    float64
dropoff_latitude     float64
passenger_count        int64
dtype: object

In [4]:
df_train.describe()

        fare_amount       ...         passenger_count
count  5.000000e+06       ...            5.000000e+06
mean   1.133670e+01       ...            1.684909e+00
std    9.826900e+00       ...            1.330812e+00
min   -1.050000e+02       ...            0.000000e+00
25%    6.000000e+00       ...            1.000000e+00
50%    8.500000e+00       ...            1.000000e+00
75%    1.250000e+01       ...            2.000000e+00
max    1.273310e+03       ...            2.080000e+02

[8 rows x 6 columns]

In [5]:
df_train.isnull().sum()

key                   0
fare_amount           0
pickup_datetime       0
pickup_longitude      0
pickup_latitude       0
dropoff_longitude    31
dropoff_latitude     31
passenger_count       0
dtype: int64

In [6]:
df_train = df_train.dropna()
df_train.isnull().sum()

key                  0
fare_amount          0
pickup_datetime      0
pickup_longitude     0
pickup_latitude      0
dropoff_longitude    0
dropoff_latitude     0
passenger_count      0
dtype: int64

In [7]:
df_test.dtypes

key                   object
pickup_datetime       object
pickup_longitude     float64
pickup_latitude      float64
dropoff_longitude    float64
dropoff_latitude     float64
passenger_count        int64
dtype: object

In [8]:
df_test.describe()

       pickup_longitude       ...         passenger_count
count       9914.000000       ...             9914.000000
mean         -73.974722       ...                1.671273
std            0.042774       ...                1.278747
min          -74.252193       ...                1.000000
25%          -73.992501       ...                1.000000
50%          -73.982326       ...                1.000000
75%          -73.968013       ...                2.000000
max          -72.986532       ...                6.000000

[8 rows x 5 columns]

In [9]:
df_test.isnull().sum()

key                  0
pickup_datetime      0
pickup_longitude     0
pickup_latitude      0
dropoff_longitude    0
dropoff_latitude     0
passenger_count      0
dtype: int64

In [10]:
print(df_train.shape)
print(df_test.shape)

(4999969, 8)
(9914, 7)

In [11]:
df_train = df_train.loc[(df_train['fare_amount'] > 0) & (df_train['fare_amount'] < 200)]
df_train = df_train.loc[(df_train['pickup_longitude'] > -300) & (df_train['pickup_longitude'] < 300)]
df_train = df_train.loc[(df_train['pickup_latitude'] > -300) & (df_train['pickup_latitude'] < 300)]
df_train = df_train.loc[(df_train['dropoff_longitude'] > -300) & (df_train['dropoff_longitude'] < 300)]
df_train = df_train.loc[(df_train['dropoff_latitude'] > -300) & (df_train['dropoff_latitude'] < 300)]
df_train = df_train.loc[df_train['passenger_count'] <= 8]

df_train.head()

                                    key       ...         passenger_count
24320907   2009-05-16 15:11:00.00000066       ...                       1
23865743    2009-12-11 21:50:23.0000002       ...                       1
54931       2012-12-13 14:40:14.0000001       ...                       1
32499346    2011-08-15 14:15:20.0000004       ...                       2
9491516   2013-04-22 11:03:00.000000195       ...                       1

[5 rows x 8 columns]

In [12]:
df_test = df_test.loc[(df_test['pickup_longitude'] > -300) & (df_test['pickup_longitude'] < 300)]
df_test = df_test.loc[(df_test['pickup_latitude'] > -300) & (df_test['pickup_latitude'] < 300)]
df_test = df_test.loc[(df_test['dropoff_longitude'] > -300) & (df_test['dropoff_longitude'] < 300)]
df_test = df_test.loc[(df_test['dropoff_latitude'] > -300) & (df_test['dropoff_latitude'] < 300)]
df_test = df_test.loc[df_test['passenger_count'] <= 8]

df_test.head()

                           key       ...       passenger_count
0  2015-01-27 13:08:24.0000002       ...                     1
1  2015-01-27 13:08:24.0000003       ...                     1
2  2011-10-08 11:53:44.0000002       ...                     1
3  2012-12-01 21:12:12.0000002       ...                     1
4  2012-12-01 21:12:12.0000003       ...                     1

[5 rows x 7 columns]

In [13]:
df_train = df_train.reset_index()
df_train.head()

      index       ...       passenger_count
0  24320907       ...                     1
1  23865743       ...                     1
2     54931       ...                     1
3  32499346       ...                     2
4   9491516       ...                     1

[5 rows x 9 columns]

In [14]:
df_train = df_train.drop(['index'], axis=1)
df_train.head()

                             key       ...         passenger_count
0   2009-05-16 15:11:00.00000066       ...                       1
1    2009-12-11 21:50:23.0000002       ...                       1
2    2012-12-13 14:40:14.0000001       ...                       1
3    2011-08-15 14:15:20.0000004       ...                       2
4  2013-04-22 11:03:00.000000195       ...                       1

[5 rows x 8 columns]

In [15]:
ids = df_test['key']
train_Y = df_train['fare_amount']

df_train = df_train.drop(['fare_amount'], axis=1)

print(df_train.shape)
print(df_test.shape)

(4999212, 7)
(9914, 7)

In [16]:
df_train.head()

                             key       ...       passenger_count
0   2009-05-16 15:11:00.00000066       ...                     1
1    2009-12-11 21:50:23.0000002       ...                     1
2    2012-12-13 14:40:14.0000001       ...                     1
3    2011-08-15 14:15:20.0000004       ...                     2
4  2013-04-22 11:03:00.000000195       ...                     1

[5 rows x 7 columns]

In [17]:
df_train['pickup_datetime'] = df_train['pickup_datetime'].apply(lambda x: datetime.datetime.strptime(x, '%Y-%m-%d %H:%M:%S UTC'))
df_train['pickup_year'] = df_train['pickup_datetime'].apply(lambda x: datetime.datetime.strftime(x, '%Y')).astype('int64')
df_train['pickup_month'] = df_train['pickup_datetime'].apply(lambda x: datetime.datetime.strftime(x, '%m')).astype('int64')
df_train['pickup_day'] = df_train['pickup_datetime'].apply(lambda x: datetime.datetime.strftime(x, '%d')).astype('int64')
df_train['pickup_hour'] = df_train['pickup_datetime'].apply(lambda x: datetime.datetime.strftime(x, '%H')).astype('int64')
df_train['pickup_minute'] = df_train['pickup_datetime'].apply(lambda x: datetime.datetime.strftime(x, '%M')).astype('int64')
df_train['pickup_second'] = df_train['pickup_datetime'].apply(lambda x: datetime.datetime.strftime(x, '%S')).astype('int64')

df_test['pickup_datetime'] = df_test['pickup_datetime'].apply(lambda x: datetime.datetime.strptime(x, '%Y-%m-%d %H:%M:%S UTC'))
df_test['pickup_year'] = df_test['pickup_datetime'].apply(lambda x: datetime.datetime.strftime(x, '%Y')).astype('int64')
df_test['pickup_month'] = df_test['pickup_datetime'].apply(lambda x: datetime.datetime.strftime(x, '%m')).astype('int64')
df_test['pickup_day'] = df_test['pickup_datetime'].apply(lambda x: datetime.datetime.strftime(x, '%d')).astype('int64')
df_test['pickup_hour'] = df_test['pickup_datetime'].apply(lambda x: datetime.datetime.strftime(x, '%H')).astype('int64')
df_test['pickup_minute'] = df_test['pickup_datetime'].apply(lambda x: datetime.datetime.strftime(x, '%M')).astype('int64')
df_test['pickup_second'] = df_test['pickup_datetime'].apply(lambda x: datetime.datetime.strftime(x, '%S')).astype('int64')

In [18]:
df_train = df_train.drop(['pickup_datetime'], axis=1)
df_test = df_test.drop(['pickup_datetime'], axis=1)

In [19]:
df_train['longitude_diff'] = df_train['dropoff_longitude'] - df_train['pickup_longitude']
df_train['latitude_diff'] = df_train['dropoff_latitude'] - df_train['pickup_latitude']
df_train['distance'] = ((df_train['longitude_diff']**2) + (df_train['latitude_diff']**2))**0.5

df_test['longitude_diff'] = df_test['dropoff_longitude'] - df_test['pickup_longitude']
df_test['latitude_diff'] = df_test['dropoff_latitude'] - df_test['pickup_latitude']
df_test['distance'] = ((df_test['longitude_diff']**2) + (df_test['latitude_diff']**2))**0.5

In [20]:
df_train = df_train.drop(['key'], axis=1)
df_test = df_test.drop(['key'], axis=1)

In [21]:
print(df_train.shape)
print(df_test.shape)

(4999212, 14)
(9914, 14)

In [22]:
df_train.head()

   pickup_longitude  pickup_latitude    ...     latitude_diff  distance
0        -73.985632        40.762920    ...          0.005675  0.006836
1        -73.891110        40.754933    ...          0.001347  0.013199
2          0.000000         0.000000    ...          0.000000  0.000000
3        -73.980400        40.763200    ...         -0.012500  0.016651
4        -73.865890        40.770742    ...         -0.041247  0.138191

[5 rows x 14 columns]

In [23]:
df_test.head()

   pickup_longitude  pickup_latitude    ...     latitude_diff  distance
0        -73.973320        40.763805    ...         -0.019970  0.021554
1        -73.986862        40.719383    ...          0.019817  0.023180
2        -73.982524        40.751260    ...         -0.005121  0.005870
3        -73.981160        40.767807    ...         -0.016172  0.018649
4        -73.966046        40.789775    ...         -0.045348  0.050631

[5 rows x 14 columns]

In [24]:
# scaler = MinMaxScaler()

# train_X = scaler.fit_transform(df_train)
# test_X = scaler.fit_transform(df_test)

In [25]:
x_train,x_test,y_train,y_test = train_test_split(df_train, train_Y, test_size=0.2, random_state=0)

def xgbmodel(x_train,x_test,y_train,y_test):
    matrix_train = xgb.DMatrix(x_train, label=y_train)
    matrix_test = xgb.DMatrix(x_test, label=y_test)
    model = xgb.train(params={'objective':'reg:linear', 'eval_metric':'rmse'},
                     dtrain=matrix_train,
                     num_boost_round=200,
                     early_stopping_rounds=20,
                     evals=[(matrix_test,'test')])
    return model

myxgbmodel = xgbmodel(x_train,x_test,y_train,y_test)

pred = myxgbmodel.predict(xgb.DMatrix(df_test), ntree_limit=myxgbmodel.best_ntree_limit)

/opt/conda/lib/python3.6/site-packages/xgboost/core.py:587: FutureWarning: Series.base is deprecated and will be removed in a future version
  if getattr(data, 'base', None) is not None and \

[0]	test-rmse:10.6679
Will train until test-rmse hasn't improved in 20 rounds.
[1]	test-rmse:8.12448
[2]	test-rmse:6.50522
[3]	test-rmse:5.5089
[4]	test-rmse:4.92897
[5]	test-rmse:4.60809
[6]	test-rmse:4.42134
[7]	test-rmse:4.31827
[8]	test-rmse:4.24768
[9]	test-rmse:4.2099
[10]	test-rmse:4.16728
[11]	test-rmse:4.15364
[12]	test-rmse:4.13564
[13]	test-rmse:4.12509
[14]	test-rmse:4.10231
[15]	test-rmse:4.08816
[16]	test-rmse:4.0809
[17]	test-rmse:4.07878
[18]	test-rmse:4.0678
[19]	test-rmse:4.06088
[20]	test-rmse:4.04884
[21]	test-rmse:4.04368
[22]	test-rmse:4.04174
[23]	test-rmse:4.03563
[24]	test-rmse:4.02771
[25]	test-rmse:4.02551
[26]	test-rmse:4.0234
[27]	test-rmse:4.02242
[28]	test-rmse:4.01882
[29]	test-rmse:4.00943
[30]	test-rmse:4.00423
[31]	test-rmse:3.99867
[32]	test-rmse:3.99835
[33]	test-rmse:3.99702
[34]	test-rmse:3.99313
[35]	test-rmse:3.99072
[36]	test-rmse:3.99026
[37]	test-rmse:3.99021
[38]	test-rmse:3.98944
[39]	test-rmse:3.98829
[40]	test-rmse:3.98558
[41]	test-rmse:3.98498
[42]	test-rmse:3.98283
[43]	test-rmse:3.98224
[44]	test-rmse:3.98056
[45]	test-rmse:3.97776
[46]	test-rmse:3.97446
[47]	test-rmse:3.96855
[48]	test-rmse:3.96363
[49]	test-rmse:3.96207
[50]	test-rmse:3.96056
[51]	test-rmse:3.95948
[52]	test-rmse:3.9594
[53]	test-rmse:3.95858
[54]	test-rmse:3.95721
[55]	test-rmse:3.95273
[56]	test-rmse:3.95271
[57]	test-rmse:3.95109
[58]	test-rmse:3.95007
[59]	test-rmse:3.9503
[60]	test-rmse:3.94857
[61]	test-rmse:3.94801
[62]	test-rmse:3.9465
[63]	test-rmse:3.94715
[64]	test-rmse:3.94421
[65]	test-rmse:3.9406
[66]	test-rmse:3.94063
[67]	test-rmse:3.93581
[68]	test-rmse:3.9329
[69]	test-rmse:3.93105
[70]	test-rmse:3.929
[71]	test-rmse:3.9289
[72]	test-rmse:3.9271
[73]	test-rmse:3.92627
[74]	test-rmse:3.92573
[75]	test-rmse:3.925
[76]	test-rmse:3.92492
[77]	test-rmse:3.92407
[78]	test-rmse:3.92169
[79]	test-rmse:3.92118
[80]	test-rmse:3.92092
[81]	test-rmse:3.92128
[82]	test-rmse:3.92027
[83]	test-rmse:3.91993
[84]	test-rmse:3.91995
[85]	test-rmse:3.91897
[86]	test-rmse:3.91539
[87]	test-rmse:3.91255
[88]	test-rmse:3.91248
[89]	test-rmse:3.91111
[90]	test-rmse:3.91044
[91]	test-rmse:3.90702
[92]	test-rmse:3.90701
[93]	test-rmse:3.90668
[94]	test-rmse:3.90656
[95]	test-rmse:3.90616
[96]	test-rmse:3.90532
[97]	test-rmse:3.90213
[98]	test-rmse:3.90079
[99]	test-rmse:3.90074
[100]	test-rmse:3.90081
[101]	test-rmse:3.90055
[102]	test-rmse:3.90028
[103]	test-rmse:3.90031
[104]	test-rmse:3.90035
[105]	test-rmse:3.89977
[106]	test-rmse:3.89935
[107]	test-rmse:3.8988
[108]	test-rmse:3.89884
[109]	test-rmse:3.89849
[110]	test-rmse:3.89865
[111]	test-rmse:3.89843
[112]	test-rmse:3.89809
[113]	test-rmse:3.89742
[114]	test-rmse:3.89739
[115]	test-rmse:3.89691
[116]	test-rmse:3.89668
[117]	test-rmse:3.89706
[118]	test-rmse:3.89659
[119]	test-rmse:3.8965
[120]	test-rmse:3.89583
[121]	test-rmse:3.89599
[122]	test-rmse:3.89542
[123]	test-rmse:3.8938
[124]	test-rmse:3.89343
[125]	test-rmse:3.89333
[126]	test-rmse:3.89365
[127]	test-rmse:3.89373
[128]	test-rmse:3.89361
[129]	test-rmse:3.89344
[130]	test-rmse:3.8928
[131]	test-rmse:3.89164
[132]	test-rmse:3.8916
[133]	test-rmse:3.89163
[134]	test-rmse:3.89201
[135]	test-rmse:3.89213
[136]	test-rmse:3.89155
[137]	test-rmse:3.89074
[138]	test-rmse:3.8907
[139]	test-rmse:3.89049
[140]	test-rmse:3.89013
[141]	test-rmse:3.89009
[142]	test-rmse:3.89056
[143]	test-rmse:3.88961
[144]	test-rmse:3.88827
[145]	test-rmse:3.8874
[146]	test-rmse:3.8877
[147]	test-rmse:3.88494
[148]	test-rmse:3.88501
[149]	test-rmse:3.88421
[150]	test-rmse:3.88359
[151]	test-rmse:3.88295
[152]	test-rmse:3.88071
[153]	test-rmse:3.88017
[154]	test-rmse:3.88015
[155]	test-rmse:3.87988
[156]	test-rmse:3.87941
[157]	test-rmse:3.87844
[158]	test-rmse:3.87806
[159]	test-rmse:3.87771
[160]	test-rmse:3.87775
[161]	test-rmse:3.87768
[162]	test-rmse:3.87759
[163]	test-rmse:3.8777
[164]	test-rmse:3.87734
[165]	test-rmse:3.8775
[166]	test-rmse:3.87691
[167]	test-rmse:3.87641
[168]	test-rmse:3.87659
[169]	test-rmse:3.87668
[170]	test-rmse:3.87696
[171]	test-rmse:3.87693
[172]	test-rmse:3.87647
[173]	test-rmse:3.87602
[174]	test-rmse:3.87615
[175]	test-rmse:3.87644
[176]	test-rmse:3.87682
[177]	test-rmse:3.87699
[178]	test-rmse:3.87664
[179]	test-rmse:3.8767
[180]	test-rmse:3.87681
[181]	test-rmse:3.87633
[182]	test-rmse:3.87447
[183]	test-rmse:3.87369
[184]	test-rmse:3.87417
[185]	test-rmse:3.87402
[186]	test-rmse:3.8737
[187]	test-rmse:3.87377
[188]	test-rmse:3.87361
[189]	test-rmse:3.87227
[190]	test-rmse:3.87243
[191]	test-rmse:3.87266
[192]	test-rmse:3.87266
[193]	test-rmse:3.87192
[194]	test-rmse:3.87159
[195]	test-rmse:3.87135
[196]	test-rmse:3.87141
[197]	test-rmse:3.87133
[198]	test-rmse:3.87108
[199]	test-rmse:3.87083

In [26]:
# model = LinearRegression()
# model.fit(df_train, train_Y)
# pred = model.predict(df_test)

In [27]:
pred

array([ 9.8809185, 10.783232 ,  5.1298623, ..., 53.50969  , 19.888685 ,
        7.554152 ], dtype=float32)

In [28]:
submission = pd.DataFrame({'key':ids, 'fare_amount':pred})
submission.to_csv('submission.csv', index=False)