In [35]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import seaborn as sns
import matplotlib.pyplot as plt 
%matplotlib inline
# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

import os
print(os.listdir("../input"))

# Any results you write to the current directory are saved as output.

['train.csv', 'sample_submission.csv', 'test.csv']

# 1. Read Data

In [36]:
movie_train_path = '../input/train.csv'
movie_test_path = '../input/test.csv'
movie_data = pd.read_csv(movie_train_path)
test_data = pd.read_csv(movie_test_path)

# 2. Feature Engineering

In [37]:
movie_data.head()

   id    ...      revenue
0   1    ...     12314651
1   2    ...     95149435
2   3    ...     13092000
3   4    ...     16000000
4   5    ...      3923970

[5 rows x 23 columns]

## drop useless columns

In [38]:
movie_data.drop(['homepage','imdb_id','original_title','overview','poster_path','crew'], axis= 1 , inplace = True)

## release date and language

In [39]:
movie_data[['release_month','release_day','release_year']]=df['release_date'].str.split('/',expand=True).replace(np.nan, 0).astype(int)
movie_data['release_year'] = df['release_year']
movie_data.loc[ (df['release_year'] <= 18) & (df['release_year'] < 100), "release_year"] += 2000
movie_data.loc[ (df['release_year'] > 18)  & (df['release_year'] < 100), "release_year"] += 1900

movie_data.drop('release_date',axis= 1 , inplace = True)

In [40]:
movie_data.head()

   id     ...      release_year
0   1     ...              2015
1   2     ...              2004
2   3     ...              2014
3   4     ...              2012
4   5     ...              2009

[5 rows x 19 columns]

## 	belongs_to_collection

In [20]:
movie_data['belongs_to_collection'].apply(lambda x: 1 if x != {} else 0)

0       1
1       1
2       1
3       1
4       1
5       1
6       1
7       1
8       1
9       1
10      1
11      1
12      1
13      1
14      1
15      1
16      1
17      1
18      1
19      1
20      1
21      1
22      1
23      1
24      1
25      1
26      1
27      1
28      1
29      1
       ..
2970    1
2971    1
2972    1
2973    1
2974    1
2975    1
2976    1
2977    1
2978    1
2979    1
2980    1
2981    1
2982    1
2983    1
2984    1
2985    1
2986    1
2987    1
2988    1
2989    1
2990    1
2991    1
2992    1
2993    1
2994    1
2995    1
2996    1
2997    1
2998    1
2999    1
Name: belongs_to_collection, Length: 3000, dtype: int64

In [ ]:
categorical_cols = [cname for cname in movie_data.columns if movie_data[cname].dtype=='object']

numerical_cols = [cname for cname in movie_data.columns if movie_data[cname].dtype in ['int64', 'float64']]

my_cols = categorical_cols + numerical_cols

In [ ]:
categorical_cols

In [ ]:
X = movie_data[my_cols]
y = movie_data.revenue
from sklearn.model_selection import train_test_split
X_train,X_valid,y_train,y_valid = train_test_split(X,y,random_state=1)

In [ ]:
X.isnull().sum()

In [ ]:
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder

In [ ]:
numerical_transformer = SimpleImputer(strategy='mean')
categorical_transformer= Pipeline(steps=[('imputer',SimpleImputer(strategy='most_frequent')), 
                                       ('onehot', OneHotEncoder(handle_unknown='ignore'))])
preprocessor = ColumnTransformer(transformers=[('num',numerical_transformer,numerical_cols),
                                              ('cat',categorical_transformer, categorical_cols)])

In [ ]:
from xgboost import XGBRegressor
model = XGBRegressor(n_estimators=100,learning_rate = 0.05)

In [ ]:
from sklearn.metrics import mean_absolute_error
my_pipeline = Pipeline(steps=[('preprocessor', preprocessor),
                              ('model', model)
                             ])
my_pipeline.fit(X_train,y_train)
prediction1 = my_pipeline.predict(X_valid)
MAE = mean_absolute_error(prediction1,y_valid)
print('MAE: ', MAE)

In [ ]:
my_pipeline.fit(X,y)
prediction=my_pipeline.predict(test_data)

In [ ]:
submission = pd.DataFrame({'id':test_data['id'],
                          'revenue':prediction})

In [ ]:
submission.to_csv('submission.csv',index=False)