In [70]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

import os
print(os.listdir("../input"))

# Any results you write to the current directory are saved as output.

['train.csv', 'sampleSubmission.csv', 'test.csv']

In [71]:
train = pd.read_csv("../input/train.csv")

In [72]:
train.head()

              datetime  season  holiday  ...    casual  registered  count
0  2011-01-01 00:00:00       1        0  ...         3          13     16
1  2011-01-01 01:00:00       1        0  ...         8          32     40
2  2011-01-01 02:00:00       1        0  ...         5          27     32
3  2011-01-01 03:00:00       1        0  ...         3          10     13
4  2011-01-01 04:00:00       1        0  ...         0           1      1

[5 rows x 12 columns]

In [73]:
test = pd.read_csv("../input/test.csv")

In [74]:
test.head()

              datetime  season  holiday    ...       atemp  humidity  windspeed
0  2011-01-20 00:00:00       1        0    ...      11.365        56    26.0027
1  2011-01-20 01:00:00       1        0    ...      13.635        56     0.0000
2  2011-01-20 02:00:00       1        0    ...      13.635        56     0.0000
3  2011-01-20 03:00:00       1        0    ...      12.880        56    11.0014
4  2011-01-20 04:00:00       1        0    ...      12.880        56    11.0014

[5 rows x 9 columns]

In [75]:
train.dtypes

datetime       object
season          int64
holiday         int64
workingday      int64
weather         int64
temp          float64
atemp         float64
humidity        int64
windspeed     float64
casual          int64
registered      int64
count           int64
dtype: object

In [76]:
test.dtypes

datetime       object
season          int64
holiday         int64
workingday      int64
weather         int64
temp          float64
atemp         float64
humidity        int64
windspeed     float64
dtype: object

In [77]:
test = pd.read_csv("../input/test.csv", parse_dates = ["datetime"])
train = pd.read_csv("../input/train.csv", parse_dates = ["datetime"])

In [78]:
test.dtypes

datetime      datetime64[ns]
season                 int64
holiday                int64
workingday             int64
weather                int64
temp                 float64
atemp                float64
humidity               int64
windspeed            float64
dtype: object

In [79]:
train.dtypes

datetime      datetime64[ns]
season                 int64
holiday                int64
workingday             int64
weather                int64
temp                 float64
atemp                float64
humidity               int64
windspeed            float64
casual                 int64
registered             int64
count                  int64
dtype: object

In [80]:
train["year"] = train["datetime"].dt.year
train["hour"] = train["datetime"].dt.hour
train["dayofweek"] = train["datetime"].dt.dayofweek

test["year"] = test["datetime"].dt.year
test["hour"] = test["datetime"].dt.hour
test["dayofweek"] = test["datetime"].dt.dayofweek

In [81]:
train.head()

             datetime  season  holiday    ...      year  hour  dayofweek
0 2011-01-01 00:00:00       1        0    ...      2011     0          5
1 2011-01-01 01:00:00       1        0    ...      2011     1          5
2 2011-01-01 02:00:00       1        0    ...      2011     2          5
3 2011-01-01 03:00:00       1        0    ...      2011     3          5
4 2011-01-01 04:00:00       1        0    ...      2011     4          5

[5 rows x 15 columns]

In [82]:
test.head()

             datetime  season  holiday    ...      year  hour  dayofweek
0 2011-01-20 00:00:00       1        0    ...      2011     0          3
1 2011-01-20 01:00:00       1        0    ...      2011     1          3
2 2011-01-20 02:00:00       1        0    ...      2011     2          3
3 2011-01-20 03:00:00       1        0    ...      2011     3          3
4 2011-01-20 04:00:00       1        0    ...      2011     4          3

[5 rows x 12 columns]

In [83]:
y_train = train["count"]
y_train = np.log1p(y_train)

In [84]:
train.drop(["datetime", "windspeed", "casual", "registered", "count"], 1, inplace=True)
test.drop(["datetime", "windspeed"], 1, inplace=True)

In [85]:
train.head()

   season  holiday  workingday    ...      year  hour  dayofweek
0       1        0           0    ...      2011     0          5
1       1        0           0    ...      2011     1          5
2       1        0           0    ...      2011     2          5
3       1        0           0    ...      2011     3          5
4       1        0           0    ...      2011     4          5

[5 rows x 10 columns]

In [86]:
test.head()

   season  holiday  workingday    ...      year  hour  dayofweek
0       1        0           1    ...      2011     0          3
1       1        0           1    ...      2011     1          3
2       1        0           1    ...      2011     2          3
3       1        0           1    ...      2011     3          3
4       1        0           1    ...      2011     4          3

[5 rows x 10 columns]

In [87]:
from sklearn.ensemble import RandomForestRegressor

In [88]:
rf = RandomForestRegressor(n_estimators=100)

In [89]:
rf.fit(train,y_train)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=None,
           oob_score=False, random_state=None, verbose=0, warm_start=False)

In [90]:
preds = rf.predict(test)

In [91]:
submission=pd.read_csv("../input/sampleSubmission.csv")

In [92]:
submission.head()

              datetime  count
0  2011-01-20 00:00:00      0
1  2011-01-20 01:00:00      0
2  2011-01-20 02:00:00      0
3  2011-01-20 03:00:00      0
4  2011-01-20 04:00:00      0

In [93]:
submission["count"] = np.expm1(preds)

In [94]:
submission.head()

              datetime      count
0  2011-01-20 00:00:00  10.752230
1  2011-01-20 01:00:00   4.712340
2  2011-01-20 02:00:00   2.645848
3  2011-01-20 03:00:00   3.720367
4  2011-01-20 04:00:00   2.869148

In [ ]:
submission.to_csv("allrf.csv", index=False)