# Import modules

In [151]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
from math import sin, cos, sqrt, atan2, radians

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

import os
print(os.listdir("../input"))

# Any results you write to the current directory are saved as output.

['test.csv', 'test', 'sample_submission', 'train', 'train.csv', 'sample_submission.csv']

# Load datas train

In [152]:
df_train = pd.read_csv('../input/train.csv', index_col='id', parse_dates=['pickup_datetime', 'dropoff_datetime'])
df_train.head(10)

           vendor_id      ...      trip_duration
id                        ...
id2875421          2      ...                455
id2377394          1      ...                663
id3858529          2      ...               2124
id3504673          2      ...                429
id2181028          2      ...                435
id0801584          2      ...                443
id1813257          1      ...                341
id1324603          2      ...               1551
id1301050          1      ...                255
id0012891          2      ...               1225

[10 rows x 10 columns]

In [153]:
def create_datetime(df):
    df['pickup_year'] = df['pickup_datetime'].dt.year
    df['pickup_month'] = df['pickup_datetime'].dt.month
    df['pickup_day'] = df['pickup_datetime'].dt.day
    df['pickup_hour'] = df['pickup_datetime'].dt.hour
    df['pickup_minute'] = df['pickup_datetime'].dt.minute
    df['pickup_seconde'] = df['pickup_datetime'].dt.minute * 60
    df['pickup_weekday'] = df['pickup_datetime'].dt.weekday
    return df

In [154]:
df_train = create_datetime(df_train)
df_train = df_train[(df_train['pickup_day'] == df_train['dropoff_datetime'].dt.day)]
df_train = df_train[(df_train['passenger_count'] > 0)]
df_train = df_train.loc[(df_train['pickup_latitude'] < 40.91) & (df_train['pickup_latitude'] > 40.55)]
df_train = df_train.loc[ (df_train['pickup_longitude'] < -73.71) & (df_train['pickup_longitude'] > -74.25)]
df_train = df_train.loc[ (df_train['dropoff_latitude'] < 40.91) & (df_train['dropoff_latitude'] > 40.55)]
df_train = df_train.loc[ (df_train['dropoff_longitude'] < -73.71) & (df_train['dropoff_longitude'] > -74.25)]
df_train.head()

           vendor_id      ...       pickup_weekday
id                        ...
id2875421          2      ...                    0
id2377394          1      ...                    6
id3858529          2      ...                    1
id3504673          2      ...                    2
id2181028          2      ...                    5

[5 rows x 17 columns]

# CONFIG VARIABLES

In [155]:
TARGET = 'trip_duration'
FEATURES = [
    'passenger_count', 'store_and_fwd_flag','pickup_longitude', 'pickup_latitude', 'dropoff_longitude', 'dropoff_latitude',
    'pickup_year', 'pickup_month', 'pickup_day', 'pickup_hour', 'pickup_minute', 'pickup_seconde', 'pickup_weekday'
]

# CREATE DATASET

In [156]:
def create_dataset(df, features, target):
    map_dict = {'N':0, 'Y':1}
    df['store_and_fwd_flag'] = df['store_and_fwd_flag'].map(map_dict)
    X = df[features]
    y = df[target]
    
    return X, y

In [157]:

X_train, y_train = create_dataset(df_train, FEATURES, TARGET)


X_train.shape, y_train.shape

((1440579, 13), (1440579,))

# Load ShuffleSplit

In [158]:
from sklearn.model_selection import ShuffleSplit

rs = ShuffleSplit(n_splits=4, test_size=.30, train_size=.30)

In [159]:
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestRegressor

In [160]:
rf = RandomForestRegressor(n_estimators=12, random_state=42)
losses = -cross_val_score(rf, X_train, y_train, cv=rs, scoring='neg_mean_squared_log_error')
losses = [np.sqrt(l) for l in losses]
np.mean(losses)

0.42398302766051443

In [161]:
rf.fit(X_train, y_train)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=12, n_jobs=None,
           oob_score=False, random_state=42, verbose=0, warm_start=False)

In [162]:
df_test = pd.read_csv('../input/test.csv', index_col='id', parse_dates=['pickup_datetime'])
df_test = create_datetime(df_test)
df_test.head()

           vendor_id      ...       pickup_weekday
id                        ...
id3004672          1      ...                    3
id3505355          1      ...                    3
id1217141          1      ...                    3
id2150126          2      ...                    3
id1598245          1      ...                    3

[5 rows x 15 columns]

In [163]:
X_test = df_test[FEATURES]
map_dict = {'N':0, 'Y':1}
X_test['store_and_fwd_flag'] = X_test['store_and_fwd_flag'].map(map_dict)

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [164]:
y_pred = rf.predict(X_test)
y_pred.mean()

847.4877675559691

In [165]:
submission = pd.read_csv('../input/sample_submission.csv') 
submission.head()

          id  trip_duration
0  id3004672            959
1  id3505355            959
2  id1217141            959
3  id2150126            959
4  id1598245            959

In [166]:
submission['trip_duration'] = y_pred
submission.head()

          id  trip_duration
0  id3004672     666.083333
1  id3505355     653.000000
2  id1217141     493.666667
3  id2150126    1347.000000
4  id1598245     471.083333

In [167]:
submission.describe()

       trip_duration
count  625134.000000
mean      847.487768
std       603.974426
min         6.583333
25%       440.583333
50%       686.333333
75%      1069.333333
max     28776.916667

In [168]:
submission.to_csv('submission.csv', index=False)

In [169]:
!ls

__notebook_source__.ipynb  submission.csv