In [1]:
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import pandas as pd
import sklearn
from sklearn.linear_model import SGDRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import ShuffleSplit
from math import radians, cos, sin, asin, sqrt

import os
print(os.listdir("../input"))

['train.csv', 'sample_submission.csv', 'test.csv']

# Import the train dataset

In [2]:
pn = pd.read_csv('../input/train.csv', index_col='id') 
pn['pickup_datetime'] = pd.to_datetime(pn['pickup_datetime']) #i Convert the date  type as the  le date format 
pn['dropoff_datetime'] = pd.to_datetime(pn['dropoff_datetime']) #i Convert the date  type as the  le date format 
pn.head()

           vendor_id      ...      trip_duration
id                        ...
id2875421          2      ...                455
id2377394          1      ...                663
id3858529          2      ...               2124
id3504673          2      ...                429
id2181028          2      ...                435

[5 rows x 10 columns]

In [3]:
pn = pn[pn.passenger_count >= 1 ]
pn = pn[pn.trip_duration <= 7200]
pn = pn[pn.trip_duration >= 200]

In [4]:
pn['year_pickup'] = pn['pickup_datetime'].dt.year 
pn['month_pickup']=pn['pickup_datetime'].dt.month 
pn['day_pickup']=pn['pickup_datetime'].dt.day
pn['weekday_pickup'] = pn['pickup_datetime'].dt.weekday
pn['hour_pickup']=pn['pickup_datetime'].dt.hour

In [5]:
pn.describe()

          vendor_id  passenger_count      ...       weekday_pickup   hour_pickup
count  1.364202e+06     1.364202e+06      ...         1.364202e+06  1.364202e+06
mean   1.535224e+00     1.667840e+00      ...         3.043861e+00  1.365909e+01
std    4.987579e-01     1.315066e+00      ...         1.949116e+00  6.374469e+00
min    1.000000e+00     1.000000e+00      ...         0.000000e+00  0.000000e+00
25%    1.000000e+00     1.000000e+00      ...         1.000000e+00  9.000000e+00
50%    2.000000e+00     1.000000e+00      ...         3.000000e+00  1.400000e+01
75%    2.000000e+00     2.000000e+00      ...         5.000000e+00  1.900000e+01
max    2.000000e+00     9.000000e+00      ...         6.000000e+00  2.300000e+01

[8 rows x 12 columns]

In [6]:
selected_columns = ['passenger_count','pickup_longitude', 'pickup_latitude', 'dropoff_longitude',
                   'dropoff_latitude', 'year_pickup',
                   'month_pickup', 'day_pickup', 'hour_pickup','weekday_pickup', 
                   ]
X = pn[selected_columns]
y = pn['trip_duration']
X.shape, y.shape

((1364202, 10), (1364202,))

# Cross&Validation

In [7]:
cv = ShuffleSplit(1, test_size=0.01, train_size=0.02, random_state=0)

In [8]:
from sklearn.metrics import mean_squared_error
rf = RandomForestRegressor()
scores = cross_val_score(rf, X , y , cv=cv ,scoring='neg_mean_squared_log_error')
np.sqrt(- scores.mean())

/opt/conda/lib/python3.6/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

0.3691190073572256

In [9]:
rf.fit (X,y)

/opt/conda/lib/python3.6/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=None,
           oob_score=False, random_state=None, verbose=0, warm_start=False)

# Import the test dataset

In [10]:
pn_test = pd.read_csv('../input/test.csv', index_col='id') 
pn_test['pickup_datetime'] = pd.to_datetime(pn_test['pickup_datetime']) #i Convert the date  type as the  le date format 
pn_test.head()

           vendor_id        ...         store_and_fwd_flag
id                          ...
id3004672          1        ...                          N
id3505355          1        ...                          N
id1217141          1        ...                          N
id2150126          2        ...                          N
id1598245          1        ...                          N

[5 rows x 8 columns]

In [11]:
pn_test['year_pickup'] = pn_test['pickup_datetime'].dt.year
pn_test['month_pickup']=pn_test['pickup_datetime'].dt.month 
pn_test['day_pickup']=pn_test['pickup_datetime'].dt.day
pn_test['weekday_pickup'] = pn_test['pickup_datetime'].dt.weekday
pn_test['hour_pickup']=pn_test['pickup_datetime'].dt.hour

In [12]:
pn_test.head()

           vendor_id     ...     hour_pickup
id                       ...
id3004672          1     ...              23
id3505355          1     ...              23
id1217141          1     ...              23
id2150126          2     ...              23
id1598245          1     ...              23

[5 rows x 13 columns]

In [13]:
X_test = pn_test[selected_columns]

In [14]:
y_pred = rf.predict(X_test)
y_pred.mean()

861.7588242894057

# Import the sample_submission dataset

In [15]:
sub = pd.read_csv('../input/sample_submission.csv')
sub.head()

          id  trip_duration
0  id3004672            959
1  id3505355            959
2  id1217141            959
3  id2150126            959
4  id1598245            959

In [16]:
sub['trip_duration'] = y_pred 
sub.head()

          id  trip_duration
0  id3004672          907.8
1  id3505355          778.1
2  id1217141          463.3
3  id2150126         1097.6
4  id1598245          415.7

In [17]:
sub.describe()

       trip_duration
count  625134.000000
mean      861.758824
std       584.606468
min       211.000000
25%       458.700000
50%       691.400000
75%      1071.700000
max      5987.300000

In [18]:
sub.to_csv('sub.csv', index=False)

In [19]:
!ls

__notebook_source__.ipynb  sub.csv