In [40]:
import pandas as pd
import seaborn as sns
import pathlib as Path
import matplotlib.pyplot as plt
import sklearn
import numpy as np
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import cross_val_score
import os
print(os.listdir("../input"))

# Any results you write to the current directory are saved as output.

['test.csv', 'train.csv', 'sampleSubmission.csv']

In [41]:
df = pd.read_csv('../input/train.csv')
df['datetime'] = pd.to_datetime(df['datetime'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10886 entries, 0 to 10885
Data columns (total 12 columns):
datetime      10886 non-null datetime64[ns]
season        10886 non-null int64
holiday       10886 non-null int64
workingday    10886 non-null int64
weather       10886 non-null int64
temp          10886 non-null float64
atemp         10886 non-null float64
humidity      10886 non-null int64
windspeed     10886 non-null float64
casual        10886 non-null int64
registered    10886 non-null int64
count         10886 non-null int64
dtypes: datetime64[ns](1), float64(3), int64(8)
memory usage: 1020.6 KB

In [42]:
df['year'] = df['datetime'].dt.year
df['month'] = df['datetime'].dt.month
df['day'] = df['datetime'].dt.day
df['hour'] = df['datetime'].dt.hour
df['weekday'] = df['datetime'].dt.weekday
df.head()

             datetime  season  holiday   ...     day  hour  weekday
0 2011-01-01 00:00:00       1        0   ...       1     0        5
1 2011-01-01 01:00:00       1        0   ...       1     1        5
2 2011-01-01 02:00:00       1        0   ...       1     2        5
3 2011-01-01 03:00:00       1        0   ...       1     3        5
4 2011-01-01 04:00:00       1        0   ...       1     4        5

[5 rows x 17 columns]

In [43]:
df.describe()

             season       holiday      ...               hour       weekday
count  10886.000000  10886.000000      ...       10886.000000  10886.000000
mean       2.506614      0.028569      ...          11.541613      3.013963
std        1.116174      0.166599      ...           6.915838      2.004585
min        1.000000      0.000000      ...           0.000000      0.000000
25%        2.000000      0.000000      ...           6.000000      1.000000
50%        3.000000      0.000000      ...          12.000000      3.000000
75%        4.000000      0.000000      ...          18.000000      5.000000
max        4.000000      1.000000      ...          23.000000      6.000000

[8 rows x 16 columns]

In [44]:
selected_columns = ['season', 'holiday', 'workingday', 'weather', 
                    'temp', 'atemp', 'humidity', 'windspeed', 'year',
                    'month', 'day', 'hour', 'weekday']
X = df[selected_columns]
y = df['count']
X.shape, y.shape

((10886, 13), (10886,))

In [45]:
rf = RandomForestRegressor()
losses = -cross_val_score(rf, X, y, cv=5, scoring='neg_mean_squared_log_error')
losses.mean()

/opt/conda/lib/python3.6/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/opt/conda/lib/python3.6/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/opt/conda/lib/python3.6/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/opt/conda/lib/python3.6/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/opt/conda/lib/python3.6/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

0.27342563584826324

In [46]:
rf.fit(X, y)

/opt/conda/lib/python3.6/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=None,
           oob_score=False, random_state=None, verbose=0, warm_start=False)

In [47]:
df_test = pd.read_csv('../input/test.csv')
df_test['datetime'] = pd.to_datetime(df_test['datetime'])
df_test['year'] = df_test['datetime'].dt.year
df_test['month'] = df_test['datetime'].dt.month
df_test['day'] = df_test['datetime'].dt.day
df_test['hour'] = df_test['datetime'].dt.hour
df_test['weekday'] = df_test['datetime'].dt.weekday
df_test.head()

             datetime  season  holiday   ...     day  hour  weekday
0 2011-01-20 00:00:00       1        0   ...      20     0        3
1 2011-01-20 01:00:00       1        0   ...      20     1        3
2 2011-01-20 02:00:00       1        0   ...      20     2        3
3 2011-01-20 03:00:00       1        0   ...      20     3        3
4 2011-01-20 04:00:00       1        0   ...      20     4        3

[5 rows x 14 columns]

In [48]:
X_test = df_test[selected_columns]

In [49]:
y_pred = rf.predict(X_test)
y_pred.mean()

194.3359464038195

In [50]:
submission = pd.read_csv('../input/sampleSubmission.csv') 
submission.head()

              datetime  count
0  2011-01-20 00:00:00      0
1  2011-01-20 01:00:00      0
2  2011-01-20 02:00:00      0
3  2011-01-20 03:00:00      0
4  2011-01-20 04:00:00      0

In [51]:
submission['count'] = y_pred
submission.head()

              datetime  count
0  2011-01-20 00:00:00   13.5
1  2011-01-20 01:00:00    7.2
2  2011-01-20 02:00:00    6.3
3  2011-01-20 03:00:00    2.9
4  2011-01-20 04:00:00    2.9

In [52]:
submission.describe()

             count
count  6493.000000
mean    194.335946
std     174.506771
min       1.500000
25%      49.800000
50%     153.700000
75%     286.900000
max     913.800000

In [53]:
submission.to_csv('submission.csv', index=False)

In [54]:
!ls

__notebook_source__.ipynb  submission.csv