In [108]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

import os
print(os.listdir("../input"))

# Any results you write to the current directory are saved as output.

['train.csv', 'sampleSubmission.csv', 'test.csv']

In [109]:
# Carregar os dados
train = pd.read_csv('../input/train.csv', parse_dates=[0])

test = pd.read_csv('../input/test.csv')

In [110]:
train.shape, test.shape

((10886, 12), (6493, 9))

In [111]:
# Verificando as quantidades de tipos
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10886 entries, 0 to 10885
Data columns (total 12 columns):
datetime      10886 non-null datetime64[ns]
season        10886 non-null int64
holiday       10886 non-null int64
workingday    10886 non-null int64
weather       10886 non-null int64
temp          10886 non-null float64
atemp         10886 non-null float64
humidity      10886 non-null int64
windspeed     10886 non-null float64
casual        10886 non-null int64
registered    10886 non-null int64
count         10886 non-null int64
dtypes: datetime64[ns](1), float64(3), int64(8)
memory usage: 1020.6 KB

In [112]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6493 entries, 0 to 6492
Data columns (total 9 columns):
datetime      6493 non-null object
season        6493 non-null int64
holiday       6493 non-null int64
workingday    6493 non-null int64
weather       6493 non-null int64
temp          6493 non-null float64
atemp         6493 non-null float64
humidity      6493 non-null int64
windspeed     6493 non-null float64
dtypes: float64(3), int64(5), object(1)
memory usage: 456.6+ KB

In [113]:
train.head().T

                              0         ...                             4
datetime    2011-01-01 00:00:00         ...           2011-01-01 04:00:00
season                        1         ...                             1
holiday                       0         ...                             0
workingday                    0         ...                             0
weather                       1         ...                             1
temp                       9.84         ...                          9.84
atemp                    14.395         ...                        14.395
humidity                     81         ...                            75
windspeed                     0         ...                             0
casual                        3         ...                             0
registered                   13         ...                             1
count                        16         ...                             1

[12 rows x 5 columns]

In [114]:
test.head().T

                              0         ...                             4
datetime    2011-01-20 00:00:00         ...           2011-01-20 04:00:00
season                        1         ...                             1
holiday                       0         ...                             0
workingday                    1         ...                             1
weather                       1         ...                             1
temp                      10.66         ...                         10.66
atemp                    11.365         ...                         12.88
humidity                     56         ...                            56
windspeed               26.0027         ...                       11.0014

[9 rows x 5 columns]

In [115]:
# Transformar a coluna DATETIME em DATETIME
test['datetime'] = pd.to_datetime(test['datetime'])

test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6493 entries, 0 to 6492
Data columns (total 9 columns):
datetime      6493 non-null datetime64[ns]
season        6493 non-null int64
holiday       6493 non-null int64
workingday    6493 non-null int64
weather       6493 non-null int64
temp          6493 non-null float64
atemp         6493 non-null float64
humidity      6493 non-null int64
windspeed     6493 non-null float64
dtypes: datetime64[ns](1), float64(3), int64(5)
memory usage: 456.6 KB

In [116]:
#  Transformar a coluna 'count'

train['count'] = np.log(train['count'])

In [117]:
# Vamos juntar os dados de TRAIN e TEST para facilitar as transformações

df = train.append(test)

/opt/conda/lib/python3.6/site-packages/pandas/core/frame.py:6211: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

In [118]:
df.tail().T

                           6488         ...                          6492
atemp                     12.88         ...                        13.635
casual                      NaN         ...                           NaN
count                       NaN         ...                           NaN
datetime    2012-12-31 19:00:00         ...           2012-12-31 23:00:00
holiday                       0         ...                             0
humidity                     60         ...                            65
registered                  NaN         ...                           NaN
season                        1         ...                             1
temp                      10.66         ...                         10.66
weather                       2         ...                             1
windspeed               11.0014         ...                        8.9981
workingday                    1         ...                             1

[12 rows x 5 columns]

In [119]:
# Vamos ordenar pelo datetime

df.sort_values('datetime',inplace=True)

## Feature Engineering

In [120]:
# Criando colunas para data e hora
df['hour'] = df['datetime'].dt.hour
df['day'] = df['datetime'].dt.day
df['dayofweek'] = df['datetime'].dt.dayofweek
df['month'] = df['datetime'].dt.month
df['year'] = df['datetime'].dt.year

In [121]:
# Criar coluna com a diferença de temperatura

df['diff_temp'] = df['atemp'] - df['temp']

In [122]:
# criar coluna com a temperatura da hora anterior

df['temp_shift_1'] = df['temp'].shift(1)
df['temp_shift_2'] = df['temp'].shift(2)

## Outra maneira

'''
for i in range(3)
    df[f'temp_shift_{1}'] = df['temp'].shift(i) 
'''

"\nfor i in range(3)\n    df[f'temp_shift_{1}'] = df['temp'].shift(i) \n"

In [123]:
# criar coluna com a sensação termica da hora anterior

df['atemp_shift_1'] = df['atemp'].shift(1)
df['atemp_shift_2'] = df['atemp'].shift(2)

In [124]:
# criar coluna com a a diferença de temperatura da hora anterior

df['diff_shift_1'] = df['diff_temp'].shift(1)
df['diff_shift_2'] = df['diff_temp'].shift(2)

In [125]:
df.head().T

                                 0         ...                             4
atemp                       14.395         ...                        14.395
casual                           3         ...                             0
count                      2.77259         ...                             0
datetime       2011-01-01 00:00:00         ...           2011-01-01 04:00:00
holiday                          0         ...                             0
humidity                        81         ...                            75
registered                      13         ...                             1
season                           1         ...                             1
temp                          9.84         ...                          9.84
weather                          1         ...                             1
windspeed                        0         ...                             0
workingday                       0         ...                             0
hour                             0         ...                             4
day                              1         ...                             1
dayofweek                        5         ...                             5
month                            1         ...                             1
year                          2011         ...                          2011
diff_temp                    4.555         ...                         4.555
temp_shift_1                   NaN         ...                          9.84
temp_shift_2                   NaN         ...                          9.02
atemp_shift_1                  NaN         ...                        14.395
atemp_shift_2                  NaN         ...                        13.635
diff_shift_1                   NaN         ...                         4.555
diff_shift_2                   NaN         ...                         4.615

[24 rows x 5 columns]

In [126]:
# Criar coluna com a média da temperatura das últimas 4 horas

df['rolling_temp'] = df['temp'].rolling(4,min_periods=1).mean()

In [127]:
# Verificando o resultado
df[['temp','rolling_temp']].head(10)

    temp  rolling_temp
0   9.84      9.840000
1   9.02      9.430000
2   9.02      9.293333
3   9.84      9.430000
4   9.84      9.430000
5   9.84      9.635000
6   9.02      9.635000
7   8.20      9.225000
8   9.84      9.225000
9  13.12     10.045000

## Treinando o modelo

In [128]:
# Separando os dataframes
train = df[~df['count'].isnull()]
test = df[df['count'].isnull()]

train.shape, test.shape

((10886, 25), (6493, 25))

In [129]:
# Salvando os dados do dataframe treino
train_raw = train.copy()

In [139]:
# Separando os dados de treino em treino e validação
from sklearn.model_selection import train_test_split

train, valid = train_test_split(train, random_state=42)

train.shape, valid.shape

((6123, 25), (2041, 25))

In [131]:
# Criando variavel das colunas a serem removidas
removed_cols = ['count', 'casual','registered','datetime']

In [132]:
# Separando as colunas a serem usadas no treino
cols = []
for c in train.columns:
    if c not in removed_cols:
        cols.append(c)

cols

['atemp',
 'holiday',
 'humidity',
 'season',
 'temp',
 'weather',
 'windspeed',
 'workingday',
 'hour',
 'day',
 'dayofweek',
 'month',
 'year',
 'diff_temp',
 'temp_shift_1',
 'temp_shift_2',
 'atemp_shift_1',
 'atemp_shift_2',
 'diff_shift_1',
 'diff_shift_2',
 'rolling_temp']

In [133]:
# Separando as colunas a serem usadas no treino
feats = [c for c in train.columns if c not in removed_cols]
feats

['atemp',
 'holiday',
 'humidity',
 'season',
 'temp',
 'weather',
 'windspeed',
 'workingday',
 'hour',
 'day',
 'dayofweek',
 'month',
 'year',
 'diff_temp',
 'temp_shift_1',
 'temp_shift_2',
 'atemp_shift_1',
 'atemp_shift_2',
 'diff_shift_1',
 'diff_shift_2',
 'rolling_temp']

In [134]:
# Importar os modelos
from sklearn.ensemble import RandomForestRegressor, ExtraTreesRegressor
from sklearn.ensemble import AdaBoostRegressor, GradientBoostingRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsRegressor
from sklearn.svm import SVR

In [135]:
# Dicionario de modelos

models = {'RandomForest': RandomForestRegressor(random_state=42),
          'ExtraTrees': ExtraTreesRegressor(random_state=42),
          'GradientBoosting': GradientBoostingRegressor(random_state=42),
          'DecisionTree':DecisionTreeRegressor(random_state=42),
          'AdaBoost': AdaBoostRegressor(random_state=42),
          'KNN 11': KNeighborsRegressor(n_neighbors=11),
          'SVR': SVR(),
          'LinearRegression': LinearRegression()
         }

In [136]:
# Importando métrica
from sklearn.metrics import mean_squared_error

In [140]:
# Função para treino dos modelos

def run_model(model, train, valid, feats, y_name):
    model.fit(train[feats], train[y_name])
    preds = model.predict(valid[feats])
    return mean_squared_error(valid[y_name], preds) ** (1/2)

In [142]:
# Executando os modelos

scores = []
for name, model in models.items():
    score = run_model(model, train.fillna(-1), valid.fillna(-1), feats, "count")
    scores.append(score)
    print(name, ":", score)

RandomForest : 0.37018215029206997
ExtraTrees : 0.3550850459216027
GradientBoosting : 0.44420074524378783
DecisionTree : 0.47252714558186065
AdaBoost : 0.7029031543070599
KNN 11 : 0.9630841256703907

/opt/conda/lib/python3.6/site-packages/sklearn/svm/base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

SVR : 1.1045386267343484
LinearRegression : 1.0054760573445565