<div style="background-color:#B4DBE9; color:#636363;">
    <h1><right>Importing Libraries</center></h1>
</div>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

<div style="background-color:#B4DBE9; color:#636363;">
    <h1><right>Very basic DataFrame as an introduction</center></h1>
</div>

In [ ]:
data = pd.DataFrame([[10, None, 9, 4],
                   [1, None, 3, 4],
                    [3, None,None,5],
                    [9, None, 4, 4]])

In [ ]:
data

<div style="background-color:#B4DBE9; color:#636363;">
    <h1><right>What is "isnull()"?</center></h1>
</div>

In [ ]:
data.isnull()

isnull(): Returns a Boolean value that indicates whether an expression contains no valid data (Null).
it return a boolean same-sized object indicating if the values are NA. missing values get mapped to True.
this means when the bolean value were 'False',the value not will be not NUll,
and in the case where the boolean value returned 'True',the value in the dataframe is NULL value

<div style="background-color:#B4DBE9; color:#636363;">
    <h1><right> What is "notnull()"?</center></h1>
</div>

In [ ]:
data.notnull()

notnull(): Its function is completely opposite function of isnull().
it return a boolean same-sized object indicating if the values are not NA. Non-missing values get mapped to True.
this means when the bolean value were 'False',the value will be NUll value , and in the case where the boolean value returned 'True' value ,the value in the dataframe is not NULL value

<div style="background-color:#B4DBE9; color:#636363;">
    <h1><right>What is "isna()" AND "notna()" ?</right></h1>
</div>

In [ ]:
data.isna()

In [ ]:
data.notna()

"isna()" AND "notna()" perform the same function that performs "isnull()" and "notnull()" respectively>

<div style="background-color:#B4DBE9; color:#636363;">
    <h1><right>What is "dropna()" ?</right></h1>
</div>

In [ ]:
data.dropna()

dropna(): after detecting the null values as shown above, and for dealing with them, dropna() will be applied for removing NA values

In [ ]:
data.dropna(how='any')

In [ ]:
data.dropna(how='all')

how{'any', 'all'}, default 'any':
what is the differnce between them?

they determines if row or column is removed from DataFrame, when we have at least one NA or all NA.

'any' : If there is any Null values in the data frame row or column, drop that row or column.

'all' : If all values are Nulls in the dataframe column or row, then  drop that row or column.

In [ ]:
data.dropna(how='all',axis=1)

In [ ]:
data.dropna(how='any',axis='columns')

axis{0 or 'index', 1 or 'columns'}, default 0
Determine if rows or columns which contain missing values are removed.

0, or 'index : Drop rows which contain missing values.

1, or 'columns' : Drop columns which contain missing value.

<div style="background-color:#B4DBE9; color:#636363;">
    <h1><right>What is "fillna()" ?</right></h1>
</div>

In [ ]:
data.fillna(value=1)

In [ ]:
data.fillna(0)

In [ ]:
data.fillna(method="ffill")

In [ ]:
data.fillna(data.mean(), inplace = True)

In [ ]:
data

fillna(): ussed for Filling NA/NaN values using the specified method with new values you choose.
value are zeros or ones or any other values.

In [ ]:
data.replace()

Replace values given in to_replace with value.

Values of the DataFrame are replaced with other values dynamically.

This differs from updating with .loc or .iloc, which require you to specify a location to update with some value.

<div style="background-color:#B4DBE9; color:#636363;">
    <h1><right>Titanic - Machine Learning from Disaster</right></h1>
</div>

In [ ]:
titanic=pd.read_csv('../input/titanic/train.csv')

In [ ]:
titanic.shape

In [ ]:
titanic.head()

In [ ]:
titanic.describe()

let's asking for how many Null values in this dataset?

In [ ]:
titanic.isnull()

In [ ]:
titanic.isnull().sum()

AS shown above we have Null value as folow:

177 null values in "Age" column

687 null values in "Cabin" column

2 null values in "Embarked" column

Dealing with Age NULLS:-

In [ ]:
sns.histplot(titanic['Age'])

In [ ]:
int(titanic['Age'].mean())

the mean or the average age between all ages in the data set is 29 years old
The mean is the average of the numbers. It is easy to calculate: add up all the numbers, then divide by how many numbers there are. In other words it is the sum divided by the count.

In [ ]:
titanic['Age'].mode()

the mode number of Age is 24, which is the most frequent number appears
Mode: The most frequent number—that is, the number that occurs the highest number of times. Example: The mode of {4 , 2, 4, 3, 2, 2} is 2 because it occurs three times, which is more than any other number.

In [ ]:
titanic['Age'].median()

the median number of age is 28 years
Median: The middle number; found by ordering all data points and picking out the one in the middle (or if there are two middle numbers, taking the mean of those two numbers). Example: The median of 4, 1, and 7 is 4 because when the numbers are put in order (1 , 4, 7) , the number 4 is in the middle.

Now we can replace Null value in "Age" columns with any value we decide such as mean, mode, median or any other age.

In [ ]:
titanic["Age"].fillna(titanic["Age"].mean(), inplace = True)

as shown above "Age" column NULLS can be handled by filling the nan value with the mean value of the Age

In [ ]:
titanic.isnull().sum()

Dealing with "Cabin" Nulls

In [ ]:
titanic["Cabin"].unique()

we can not dealing with this type of data and replacing the null values with another "Cabin" number but we can filling it with any value such as "unknown" or "other" or any thing else

In [ ]:
titanic["Cabin"]=titanic["Cabin"].fillna("unknown")

for the last column that have the least number of null which is only 2 nulls, we can basicly removes it!

In [ ]:
titanic=titanic.dropna()

In [ ]:
titanic.isnull().sum()

<div style="background-color:#B4DBE9; color:#636363;">
    <h1><right>Fatal Police Shootings in the US</right></h1>
</div>

In [ ]:
police=pd.read_csv("../input/fatal-police-shootings-in-the-us/PoliceKillingsUS.csv")

In [ ]:
police.head()

In [ ]:
police.isnull().sum()

The data here contains 77 Null values in "Age" column,195 in "Race" column and 65 in "flee" column

for dealing with ages we can replacing the null values with any age such as the average age or the median age or the most common age in the dataset

and for race also cn be replaced with unknown or other 

for "flee" column the answer is yes or no, true or false, we can remove the Null values
also for "armed" the same way of handling

In [ ]:
sns.histplot(police['race'])

ploting is not possible because of existing of null values

In [ ]:
police["race"].fillna("others", inplace = True)

In [ ]:
sns.histplot(police["race"])

In [ ]:
sns.histplot(police["age"])

In [ ]:
police["age"].fillna(int(police["age"].mean()),inplace = True)

In [ ]:
sns.histplot(police["age"])

In [ ]:
sns.histplot(police['flee'])


ploting is not possible because of existing of null values,since there is class named "other" we will replace null with "other"

In [ ]:
police["flee"].unique()

In [ ]:
police["flee"].fillna("Other", inplace = True)

In [ ]:
sns.histplot(police['flee'])

In [ ]:
police.isnull().sum()

And now there is no nulls