# Exploring Jobs in the City of LA
**“ Hello World! “**  … and new rookie appears! <br>
As my first Kernel, I aimed to build a simple and clean function to extract basic information from the text files using only Pandas. <br>
This dataset seemed like a good chance to explore the flexibility of Pandas, even if it is not the best strategy for some tasks.

> **Import the Basics**

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
import glob
import re
%matplotlib inline

**Build a Function to Extract Info from each Job Bulletin** <br>
This function extracts job title, open date, min and max salaries and the class code <br>
using simple pandas commands. This function can then be applied to each file in the dir

In [ ]:
def Extract_Job_Info(job_bulletin):
    
    # read file as a pandas dataframe
    file = pd.read_table(job_bulletin, sep='\n', header = None, nrows=10)
    
    # extract job_title by cleaning the txt file name
    
    job_title = pd.Series(job_bulletin)
    job_title = job_title.str.replace(input_dir, '') # remove dir name
    job_title = job_title.str.replace('\\', '')      # remove \\ 
    job_title = job_title.str.replace('.txt','')     # remove file ext
    job_title = job_title.str.replace(r'\d+', '')    # remove all numbers 
    job_title = job_title.str.replace('rev', '', flags = re.IGNORECASE) 
    job_title = job_title.str.replace(r"\s+\(.*\)","")[0]   # remove all symbols
    
    # if the job title (in caps) occupies 2 lines 
    # drop that line and reset the index for the next steps
    if file.iloc[1][0].isupper() == True:                                 
        file = file.drop(file.index[1]).reset_index()                  

    # extract class_code from second line of the file
    class_code = file.iloc[1].str.replace(r'\D+', '')[0]                

    # extract open_date from thrid line of the file
    open_date = file.iloc[2].str.replace(r'\D+', '')[0] 
    
    # adjust the format to DD-MM-YY
    if len(open_date) < 6:
        open_date = '0'+ open_date                                      
    if len(open_date) > 6:
        open_date = open_date.replace(open_date[-4:],open_date[-2:])      
    
    # introduce dashes to set a pretty format like dd-mm-yy format
    open_date = '-'.join([open_date[:2], open_date[2:4], open_date[4:]])

    # extract minimum and max salary 
    # add exception to set 'NaN' forjobs with no salary info
    
    try:   
        # find the line before the one containing salary info
        # clean the line to obtain only the numbers
        # find the max and min value
        
        for lines in file.iterrows():
            if lines[1][0][:6] == 'ANNUAL': 
                possible_salaries = file.iloc[lines[0] + 1].str.replace(r',', '').str.replace(r'\D+',' ')

        salary_max = np.array(possible_salaries[0].split()).astype(int).max() # finds the max value inline 
        salary_min = np.array(possible_salaries[0].split()).astype(int).min() # finds the min value inline

    except:                                                                
        # set max and min salary to NaN if no information is given
        salary_max = np.nan
        salary_min = np.nan

    return pd.Series(data = [job_title, open_date, salary_min, salary_max, class_code])

**Apply Extract_Job_Info Function**

In [13]:
# read folder containing the txt files
input_dir = "../input/cityofla/CityofLA/Job Bulletins/"
job_bulletins_list = glob.glob(os.path.join(input_dir,'*txt')) # a list containing all the txt files

# apply the function to each job file in the folder
# save all info as a Pandas dataframe
Job_Info_Table = pd.DataFrame([Extract_Job_Info(job) for job in job_bulletins_list])
Job_Info_Table.columns = ['Job Title','Open Date','Salary Min ($)','Salary Max ($)', 'Class Code']
Job_Info_Table.sort_values('Job Title')

                                             Job Title    ...     Class Code
352                                        DIRECTOR       ...           9206
280                                       ACCOUNTANT      ...           1513
428                                 ACCOUNTING CLERK      ...           1223
111                    ACCOUNTING RECORDS SUPERVISOR      ...           1119
545                           ADMINISTRATIVE ANALYST      ...           1590
155                               ADMINISTRATIVE CLERK    ...           1358
625                  ADMINISTRATIVE HEARING EXAMINER      ...           9135
509    ADVANCE PRACTICE PROVIDER CORRECTIONAL CARE        ...           2325
402                        AIR CONDITIONING MECHANIC      ...           3774
180            AIR CONDITIONING MECHANIC SUPERVISOR       ...           3781
144                                     AIRPORT AIDE      ...           1540
65   AIRPORT CHIEF INFORMATION SECURITY OFFICER  _M...    ...           1404
162                                 AIRPORT ENGINEER      ...           7256
11                                     AIRPORT GUIDE      ...           0845
533                   AIRPORT INFORMATION SPECIALIST      ...           1783
118                 AIRPORT LABOR RELATIONS ADVOCATE      ...           9210
595                                  AIRPORT MANAGER      ...           7260
350                           AIRPORT POLICE CAPTAIN      ...           3228
221                        AIRPORT POLICE LIEUTENANT      ...           3227
493                         AIRPORT POLICE OFFICER        ...           3225
648                          AIRPORT POLICE SPECIALIST    ...           3236
277               AIRPORT SUPERINTENDENT OF OPERATIONS    ...           7268
347              AIRPORTS MAINTENANCE SUPERINTENDENT      ...           3331
623                  AIRPORTS MAINTENANCE SUPERVISOR      ...           3336
528  AIRPORTS PUBLIC AND COMMUNITY RELATIONS DIRECT...    ...           1788
199                            ANIMAL CARE ASSISTANT      ...           4323
308                         ANIMAL CARE TECHNICIAN        ...           4310
370                ANIMAL CARE TECHNICIAN SUPERVISOR      ...           5885
322                          ANIMAL CONTROL OFFICER       ...           4311
149                                    ANIMAL KEEPER      ...           4304
..                                                 ...    ...            ...
34           WASTEWATER TREATMENT LABORATORY MANAGER      ...           7840
209                  WASTEWATER TREATMENT MECHANIC        ...           5614
105           WASTEWATER TREATMENT MECHANIC SUPERVISOR    ...           5617
540                     WASTEWATER TREATMENT OPERATOR     ...           4123
87                                   WATER BIOLOGIST      ...           7856
315                           WATER MICROBIOLOGIST        ...           7857
178                     WATER SERVICE REPRESENTATIVE      ...           1693
584                         WATER SERVICE SUPERVISOR      ...           3930
316                               WATER SERVICE WORKER    ...           3931
257                           WATER SERVICES MANAGER      ...           9602
455                         WATER TREATMENT OPERATOR      ...           5885
82                        WATER TREATMENT SUPERVISOR      ...           5887
124                           WATER UTILITY OPERATOR      ...           5854
521                WATER UTILITY OPERATOR SUPERVISOR      ...           5857
142                     WATER UTILITY SUPERINTENDENT      ...           3980
309                           WATER UTILITY SUPERVISOR    ...           3976
175                             WATER UTILITY WORKER      ...           3912
228                     WATERSHED RESOURCES SPECIALIST    ...           7862
511                                WATERWORKS ENGINEER    ...           7248
601                     WATERWORKS MECHANIC SUPERVISOR    ...           3987
583                                           WELDER      ...           3796
432                                WELDER SUPERVISOR      ...           3798
319                                       WHARFINGER      ...           1190
387                                   WINDOW CLEANER      ...           3173
361                   WORKERS_ COMPENSATION ANALYST  R    ...           1774
232           WORKERS_ COMPENSATION CLAIMS ASSISTANT      ...           1775
99                   X-RAY AND LABORATORY TECHNICIAN      ...           2358
125                                      ZOO CURATOR      ...           4297
505                         ZOO CURATOR OF EDUCATION      ...           4300
612                                    ZOO REGISTRAR      ...           4290

[683 rows x 5 columns]

**Now ... some cool plots comming ...**