In [37]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

import os
print(os.listdir("../input"))

# Any results you write to the current directory are saved as output.

['test.csv', 'sampleSubmission.csv', 'train.csv']

In [38]:
# Carregar os arquivos
train = pd.read_csv('../input/train.csv', parse_dates=[0])
test = pd.read_csv('../input/test.csv', parse_dates=[0])

train.shape, test.shape

((10886, 12), (6493, 9))

In [39]:
train['count'] = np.log(train['count'])

In [40]:
df = pd.concat([train, test], sort=False)

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17379 entries, 0 to 6492
Data columns (total 12 columns):
datetime      17379 non-null datetime64[ns]
season        17379 non-null int64
holiday       17379 non-null int64
workingday    17379 non-null int64
weather       17379 non-null int64
temp          17379 non-null float64
atemp         17379 non-null float64
humidity      17379 non-null int64
windspeed     17379 non-null float64
casual        10886 non-null float64
registered    10886 non-null float64
count         10886 non-null float64
dtypes: datetime64[ns](1), float64(6), int64(5)
memory usage: 1.7 MB

In [42]:
df.loc[2]

             datetime  season  holiday    ...     casual  registered     count
2 2011-01-01 02:00:00       1        0    ...        5.0        27.0  3.465736
2 2011-01-20 02:00:00       1        0    ...        NaN         NaN       NaN

[2 rows x 12 columns]

In [43]:
# Resetando o indice
df = df.reset_index(drop=True)

In [44]:
df.loc[2]

datetime      2011-01-01 02:00:00
season                          1
holiday                         0
workingday                      0
weather                         1
temp                         9.02
atemp                      13.635
humidity                       80
windspeed                       0
casual                          5
registered                     27
count                     3.46574
Name: 2, dtype: object

In [45]:
df['year'] = df.datetime.dt.year
df['month'] = df.datetime.dt.month
df['weekday'] = df.datetime.dt.weekday
df['day'] = df.datetime.dt.day
df['hour'] = df.datetime.dt.hour

In [46]:
train = df[~df['count'].isnull()]
test = df[df['count'].isnull()]

In [47]:
train.shape, test.shape

((10886, 17), (6493, 17))

In [48]:
from sklearn.model_selection import train_test_split

train, valid = train_test_split(train, random_state=42)

train.shape, valid.shape

((8164, 17), (2722, 17))

In [49]:
removed_col = ['count', 'casual', 'registered', 'datetime']
feats = [c for c in train.columns if c not in removed_col]

                datetime  season  holiday  ...   weekday  day  hour
2930 2011-07-11 00:00:00       3        0  ...         0   11     0
7669 2012-05-18 22:00:00       2        0  ...         4   18    22
1346 2011-04-01 23:00:00       2        0  ...         4    1    23
9432 2012-09-16 09:00:00       3        0  ...         6   16     9
453  2011-02-01 23:00:00       1        0  ...         1    1    23

[5 rows x 17 columns]